.userProfileContainer{
    display: none;
    display: flex;
    flex-direction: column;

    min-height: 400px;
}
.userFollowerHistory{
   position: relative;
    min-width:80vw;
    min-height: 200px;
   
    animation: downToUp 300ms ;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    margin: 40px auto;
}
.userFollowerStatus{
   
    position: relative;
    border-bottom: 1px solid rgb(59, 59, 57);
    color:rgb(59, 59, 57);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px 0;
    max-width: 400px;
    margin: 10px auto;
    
}
.userProfilePic{
    width: 80px;
    height: 80px;
    background-color: #111;
    border-radius: 50%;
    margin: 12px auto;
}

#userLogOut{
    position: absolute;
    border:none;
    color:rgb(59, 59, 57);
    left: 90%;
    top:10px;
    transform: translateX(-100%);
    border: 1px solid black;
    
}

.userPosts{

    width:80%;
    height: 400px;
    background-color:beige;
    box-shadow:inset 0.1px 1px 99px rgb(222, 222, 196);
    animation: downToUp2 100ms;
    margin: auto;
   
}


@keyframes downToUp {
    0%{
        margin-top: 60px;
    }
    100%{
        margin-top: 40px;
    }
}
@keyframes downToUp2 {
    0%{
        width: 90%;
        box-shadow:inset 0.1px 1px 99px beige;
    }
    100%{
        width: 80%;
        
    }
}

@media only screen and  (max-width:450px) {
   #userLogOut{
    left: 70%;
    transform: scale(80%);
   }
  }