.Header{
    position: relative;
    list-style: none;
    gap:30%;
    width: 100%;
    --display:flex;
  background-color: black;
}
.Header::after{
    position: absolute;
    content:"";
    width: 50%;
    height: 100%;
    left: 50%;
    background-color: rgb(56, 56, 56);
   
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;

    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.781),rgb(0, 8, 1)); */
    display: var(--display);
}
.Header::before{
    position: absolute;
    content:"";
    width: 50%;
    height: 100%;
   
    background-color: rgb(40, 39, 39);
    left: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
    
    display: var(--display);
   }
.Header li{
    z-index: 1900;
}
.Header li:last-child, .Header li:first-child{
    margin-top: 5px;
    transform: scale(80%);
   
}
#tControlIcons{
  display: none;
}
.build-icon{
    height : 35px;
    width : 45px;
    border: 1px solid #D9D9D9;
    border-radius:100vw;
    display:grid;
    align-items:center;
    justify-content:center;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#D9D9D9;
    transform: scale(120%);
    margin-top: 50%;
   
   
  }
  #build-part{ 
    width:0px;
    height:12px;
    border:1px solid black;
    margin-left:45%;
    transition: 300ms;
  }
   
   /* .build-part-{
    width:0px;
    height:12px;
    border:1px solid black;
    margin-left:0%;
    
  } */
  .upper-build-part{
    transform: rotate(45deg);
    transform-origin: bottom;
    border-radius: 50%;
   
  }
  .lower-build-part{
    transform: rotate(-45deg);
    transform-origin: top;
    border-radius: 50%;
  
  }
  
  .middle-build-part{
    height:0px;
    width:20px;
    border:1.5px solid black;
  
  }


  .post-btn-container{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 50%;
    top:50%;
    background-color: rgb(56, 56, 56);
    z-index: 190;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(222, 217, 217);
  
    transition: 300ms;
    transform: scale(0);
    
  }
  .edit-btn-container{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 10%;
    top:50%;
   
    z-index: 190;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 39, 39);
    color: rgb(222, 217, 217);
    transition: 300ms;
    transform: scale(0);

  }


  @media only screen and  (max-width:450px) {
    .Header li:last-child, .Header li:first-child{
      margin-top: 5px;
      transform: scale(60%);   
  }
  .Header {
    gap:20%;
  }
  }