.Header{
  width: 60px;
  position:absolute;
  margin: 20px 30px;
  z-index: 3001;

}
#vwordSideBar{
  position:absolute;
  left:-450%;
  top:15vh;
  background-color: rgba(241, 236, 236, 0.966);
  height: 50vh;
  width: 200px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap:10%;
  transition: 500ms;
  z-index: 3000;
}
#WINDOWvwordSideBar{
  position:relative;
 
  top:-2vh;
  height: 50px;
  min-width: 90vw;
  display: flex;
  
  justify-content: flex-end;
  align-items: center;
  gap:10%;
  z-index: 3000;
}
#WINDOWvwordSideBar div{
  background-color: rgba(0, 0, 0, 0);
}
#vwordSideBar div{
  background-color: rgba(255, 255, 0, 0);
}

#vwordMenu{
  width: 50px;
  height: 50px;
  
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:14%;
  border-radius: 50%;
}

.menu-bars{
  height: 2px;
  width: 80%;
  background-color: rgb(17, 17, 17);
  transition: 300ms;
}

.menu-bars:first-child{
  transform: rotate(0deg);
  margin-top: 0%;
}
.menu-bars:last-child{
  transform: rotate(0deg);
  margin-top: 0%;
}
.menu-bars:nth-child(2){
  margin-top: -1px;
  margin-right: 2px;
  width: 40%;
  
}

.menu-bars-{
 
  height: 2px;
  width: 80%;
  background-color: whitesmoke;
  transition: 300ms;
 
}
.menu-bars-:first-child{
  transform: rotate(45deg);
  margin-top: 5%;
}
.menu-bars-:last-child{
  transform: rotate(-45deg);
  margin-top: -25%;
}
.menu-bars-:nth-child(2){
 
  width: 0%;
}



#tControlIcons{
  display: none;
}

  

  .post-btn-container{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 50%;
    top:50%;
    background-color: rgb(56, 56, 56);
    z-index: 1901;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(222, 217, 217);
  
    transition: 300ms;
    transform: scale(0);
    
  }
  .edit-btn-container{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 10%;
    top:50%;
   
    z-index: 190;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 39, 39);
    color: rgb(222, 217, 217);
    transition: 300ms;
    transform: scale(0);
    z-index: 1901;
  }

 .nav-icon-link{
  background-color: rgb(224, 215, 215);
  height:40px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
 }


  

  @media only screen and (max-width:760px){
    #vwordMenu{
      display: flex;
    }
    #WINDOWvwordSideBar{
      display:none;
    }
    #vwordSideBar{
      display: flex;
    }
  }
  @keyframes barEle {
    0%{
      margin-left: -20%;
    }
    100%{
      margin-left: 0%;
    }
  }