.Header{
  width: 60px;
  position:absolute;
  margin: 10px 50%;
  transform: translateX(-50%);
  z-index: 200;
  width: 97vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255,0);
}
#vwordSideBar{
  position: absolute;
  top:-10px;
  left: -5vw;
  background-color: rgb(0, 0, 0);
  height: 0vh;
  width: 105vw;
  transition: 500ms;
  transform-origin: top left;
  
  
}
#headerWrapper{
  height: 80%;
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  gap:11%;
  font-size: 2.0rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
 
}
.nav-icon-link h3{
  position: relative;

}
.nav-icon-link h3::after{
  position: absolute;
  left: -10%;
  top:35%;
  width: 120%;
  content: "";

  height: 30%;
}
.nav-icon-link:first-child h3::after{
  background-color: var(--link-1);
}
.nav-icon-link:nth-child(2) h3::after{
  background-color: var(--link-2);
}
.nav-icon-link:last-child h3::after{
  background-color: var(--link-3);
}

#vWordCreatePostBtn {
    
  font-family:Crete Round;
  font-weight: bolder;
  font-size: large;
  font-size: 2.5rem;
  width: 45px;
  --PICcolor:black;
  color:var(--PICcolor);
  height: 45px;
  border-radius: 50%;
  /* border: 2px solid #111;
  background-color: rgb(0, 0, 0); */
  transition: 500ms;
  transform: rotate(0deg);
  box-shadow: 0px 4px var(--PICcolor)

}

#vwordSideBar div h3{
  color:rgb(253, 251, 251);

}




#vwordSideBar div{
  background-color: rgba(255, 255, 0, 0);
}

#vwordMenu{
  width: 50px;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:14%;
  border-radius: 50%;

  z-index: 4000;
}

.menu-bars{
  height: 2px;
  width: 80%;
  background-color: rgb(17, 17, 17);
  transition: 300ms;
}

.menu-bars:first-child{
  transform: rotate(0deg);
  margin-top: 0%;
  height: 5px;
}
.menu-bars:last-child{
  transform: rotate(0deg);
  margin-top: 0%;
  height: 1px;
}
.menu-bars:nth-child(2){
  margin-top: -1px;
  margin-right: 2px;
  width: 40%;
  opacity: 1;
  height: 2px;
}

.menu-bars-{
 
  height: 2px;
  width: 80%;
  background-color: rgb(209, 57, 57);
  transition: 300ms;
 
}
.menu-bars-:first-child{
  transform: rotate(45deg);
  margin-top: 5%;
}
.menu-bars-:last-child{
  transform: rotate(-45deg);
  margin-top: -25%;
  height: 7px;
  background-color: rgb(255, 40, 40);
}
.menu-bars-:nth-child(2){
  opacity: 0;
  margin-top: -10%;
  width: 5%;

}

/* build-page-icon */

#postPageIcon{
  width: 40px;
  height: 35px;
  background-color: rgba(0, 0, 0,0);
  border-top: 7px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#postPageIcon div:first-child{
  width: 70%;
  height:3px;
  background-color: black;
}

#postPageIcon div:last-child{
  width: 70%;
  height:6px;
  background-color: rgb(46, 46, 46);
  transform: rotate(90deg);
}
#tControlIcons{
  display: none;
}

  .post-btn-container{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 50%;
    top:50%;
    background-color: rgb(56, 56, 56);
    z-index: 1901;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(222, 217, 217);
  
    transition: 300ms;
    transform: scale(0);
    
  }
  .edit-btn-container{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 10%;
    top:50%;
   
    z-index: 190;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 39, 39);
    color: rgb(222, 217, 217);
    transition: 300ms;
    transform: scale(0);
    z-index: 1901;
  }

 .nav-icon-link{
 
  height:40px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  
 }
 .nav-icon-link a{
  text-decoration: none;
 }

  

  @media only screen and (max-width:760px){
    #vwordMenu{
      display: flex;
      
      
    }
    #WINDOWvwordSideBar{
      display:none;
    }
    #vwordSideBar{
      
      display: flex;
     

    }
  }
  @keyframes barEle {
    0%{
      margin-left: -20%;
    }
    100%{
      margin-left: 0%;
    }
  }
  @keyframes side_change_1 {
   0%{
    margin-left: 0px;
   }
   100%{
    margin-left: 30px;
   }
    
  }