#Home{
    width: 280px;
    min-height: 100vh;
    position: relative;
    margin-top:100px;
    margin-left: 48%;
    transform: translateX(-50%);
    animation: animate-logo 1500ms; 
    transform-origin: left;
    --top:90%;
 
}
#vWordLC{
   
    position: relative;
    
}
#vWordLogo{
  
    position: relative;
    
}
#vWordLC::after{
    content: "Share your words";
    position: absolute;
    top:var(--top);
    left: 10%;
    width: 80%;
    height: 40px;
    top:var(--top);
    transition: 1000ms;
    color: rgb(20, 20, 20);
    font-family: 'Courier New', Courier, monospace;

}

@keyframes animate-logo {
    0%{
        width: 250px;
        --top:100%;
    }
  
    70%{
        width: 210px;
        --top:85%;
    }
    100%{
        width: 300px;
        --top:90%;
    }
}
@media only screen and  (max-width:450px){
    #vWordLogo{
       transform: scale(70%);
    }
    #Home::after{
        margin-top: -15px;
        transform: scale(90%);
    }

}