@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Crete+Round&family=Passion+One:wght@900&family=Patrick+Hand+SC&display=swap');

#vWordLG{
    margin: auto;
    margin-top: 7%;
}
#vWordSlogn {
   
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Crete Round;
    font-size: 2.5rem;
    font-weight: bolder;
    color:rgba(255, 255, 255, 0.829);
    text-shadow: 1px 1px 12px rgba(44, 46, 46, 0.233);
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap:20px;
 
}
#Home{
    width: 100%;
    
    position: relative;
    min-height: 100vh;
    --top:90%;
    display:flex;
    flex-direction: row-reverse;
    --HomeB: brightness(100%);
    filter: var(--HomeB);
    background-color: blue;
    overflow: hidden;
}
#vwordIntroPage{
    width: 100%;
    min-height: 100%;
    position: absolute;
    overflow: scroll;
    background-color: rgb(250, 250, 250);
    background-image: url(icons/both_sides_hb2.svg);
    background-repeat: no-repeat;
    background-size:40vh;
    background-position: center;
    /* box-shadow: inset 20px -40px 95px rgba(11, 37, 94, 0.959); */
    overflow-y: scroll;
}
#vWordLC{
   
    position: relative;
    
}


/* #vwordWritePost{
    position: relative;
    top:20%;
} */


/* create post page */

#createPageContainer{
    position: relative;
    display: none;
    margin: auto;
    width: 90%;
    min-height: 600px;
    background-color:whitesmoke;
    z-index: 3200;
    transition: 500ms;
    overflow-x: hidden;
  
}
#createWriteDisplay{
    left: 100%;
    position: absolute;
    top:50px;
    width: 100%;
    height: 91.69%;
    background-color:rgb(2, 2, 2);
    z-index: 3900;
   
}
/* c_pageNavigator */
#c_pageNavigator{
    position:sticky;
    top:0%;
    left:5%;
    height: 50px;
    width: 90%;
    display: flex;
    gap:30%;
    align-items: center;
    justify-content: center;
    z-index: 4000;
}
#c_pageNavigator h3{
    font-family:Crete Round, 'Courier New', Courier, monospace;
}


/* template */
#cdHeader{
    height: 50px;
    width: 100%;
    background-color: rgb(201, 187, 187);
}

@keyframes animate-logo {
    0%{
        width: 250px;
        --top:100%;
    }
  
    70%{
        width: 210px;
        --top:85%;
    }
    100%{
        width: 280px;
        --top:90%;
    }
}
@media only screen and  (max-width:450px){
    #createPageContainer{
        margin: auto;
        width: 98%;
    }
    #vWordLogo{
       transform: scale(70%);
    }
    #Home::after{
        margin-top: -15px;
        transform: scale(90%);
    }

}
@media only screen and  (450px < width < 750px){
#createPageContainer{
    margin: auto;
    width: 80%;
}
    #vWordSlogn {
        top:40%;
        font-size: 1.5rem;
    }
}