#addAfterEffect{
    position: relative;
    text-align: center;
    height: 300px;
    width: 100%;
    background-size:20%;
    display: flex;
    text-size-adjust: 100px;
    text-align: center;
    
    transform: scale(1);
    transition: 200ms;
    z-index: 4000;
}


textarea {
    font-family:sans-serif;
    margin-left: 8%;
    margin-top: 60px;
    width: 80%;
    background-image: url('./icons/img/vword_nature_1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    text-align: center;
    padding-top: 20px;
    font-size:1.2rem ;
    padding-left: 20px;
    padding-right: 20px;
    resize: none;
    outline:none;
   
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-width: 20px;
}
#addAfterEffect::after{
    content: "";
    position: absolute;
    top:100%;
    left: 50%;
    width: 0%;
    height: 5px;
    background-color: rgb(15, 15, 15);
    transition: 400ms;
}
#addAfterEffect:hover::after{
    left: 10%;
    width: 80%;
}

#textScale{
    position: absolute;
    top:105%;
    left: 70%;
    font-size: 1.1rem;
    font-weight: 500;
    transform: scale(0);
    transition: 300ms;
}




