*{
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
}
.App {
  position: absolute;
  text-align: center;
  background-image: linear-gradient(to top,rgb(54, 54, 54),rgb(51, 51, 51));
  height:100vh;
  width:100vw;
  margin-top: 0px;
 user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgb(131, 131, 131),black); 
  border-radius: 100vw;


}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
