
.App {
  position: absolute;
  top:0%;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1531219572328-a0171b4448a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  min-height:100vh;
  width:100vw;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgb(131, 131, 131),black); 
  border-radius: 100vw;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
