*{
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
}
.App {
  position: absolute;
  text-align: center;
  background-color:beige;
  height:100vh;
  width:100vw;
  margin-top: 0px;
 user-select: none;
overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top,rgb(131, 131, 131),black); 
  border-radius: 100vw;


}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
